name: run all tests

on: [push, pull_request]

jobs:
  test:
    strategy:
        fail-fast: false
        matrix:
            python-version: [3.7, 3.8, 3.9]
            os: [macOs-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    name: run tests
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@master
        name: checkout pybind
        with:
          repository: pybind/pybind11
          path: pybind11
      - name: ls
        run: ls
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
            python-version: ${{ matrix.python-version }}
      - name: install requirements
        run: |
          pip install .
          pip install meshpy
      - name: test
        run: |
          python testall.py