name: run all tests

on: [push, pull_request]

jobs:
  test:
    strategy:
        fail-fast: false
        matrix:
            python-version: [3.7, 3.8, 3.9]
            os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    name: run tests
    steps:
      - uses: actions/checkout@v2
      - name: python
        uses: actions/setup-python@v1
        with:
            python-version: ${{ matrix.python-version }}
      - name: install requirements
        run: |
          pip install wheel
          pip install mypy
          pip install .
      - name: mypy
        run: |
          mypy --ignore-missing-imports openglider
      - name: test
        run: |
          python testall.py